body{

  margin: 200;
  text-align: center;
  padding: 50;
  background: skyblue;
}
h1
{
margin: 30;
  text-align: center;
}
 h4
 {
   text-align: center;
   margin: 10;
   padding-right: 90;
   font-weight: normal;
 }
 p
 {
   margin: 10;
   padding-right: 100;
   text-align: center;
 }
button{
   text-align: center;
   height: 25px;
   width: 70px;


 }
 input{
   height: 27px;
   width: 160px;
 }
form{
  margin: 0;
  text-align: center;
}
